### 1. Preprocessing

In [2]:
## Import some necessary libraries

# !pip install py_entitymatching
# !pip install pandas
# !pip install numpy

from numpy import int64
import py_entitymatching as em
import pandas as pd
import os

In [3]:
## Read the CSV files
A = em.read_csv_metadata('../data/tableA.csv',key='id')
B = em.read_csv_metadata('../data/tableB.csv',key='id')

A.head()

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

,id,Song_Name,Artist_Name,Album_Name,Genre,Price,CopyRight,Time,Released
0,0,Runaway Train,Cam,Welcome to Cam Country - EP,"Country , Music , Contemporary Country , Honky Tonk",$0.99,2015 Sony Music Entertainment,3:01,31-Mar-15
1,1,Track 14,Omi,Me 4 U,"Pop/Rock , Music , Pop , Dance , R&B / Soul",Album Only,"2015 Ultra Records , LLC under exclusive license to Columbia Records , a Division of Sony Music ...",3:41,NaN
2,2,Lips Are Movin,Meghan Trainor,Title,"Pop , Music , Pop/Rock , Dance , Rock , Teen Pop",$1.29,"2014 , 2015 Epic Records , a division of Sony Music Entertainment",3:01,9-Jan-15
3,3,I Want a Hippopotamus for Christmas,A Great Big World,I 'll Be Home For Christmas,"Holiday , Music",$1.29,"Compilation ( P ) 2014 Epic Records , a division of Sony Music Entertainment",2:20,24-Nov-14
4,4,Credit,Meghan Trainor,Title ( Deluxe ),"Pop , Music , Rock , Pop/Rock , Dance , Teen Pop",$1.29,"2014 , 2015 Epic Records , a division of Sony Music Entertainment",2:51,9-Jan-15

In [ ]:
B.head(2)

:

In [5]:
## List the names of the attributes in the input tables
print("List of attributes in A:", A.columns)
print("List of attributes in B:", B.columns)

List of attributes in A: Index(['id', 'Song_Name', 'Artist_Name', 'Album_Name', 'Genre', 'Price',
       'CopyRight', 'Time', 'Released'],
      dtype='object')
List of attributes in B: Index(['id', 'artist_name', 'track_name', 'release_date', 'genre', 'lyrics',
       'len', 'dating', 'violence', 'world/life', 'night/time',
       'shake the audience', 'family/gospel', 'romantic', 'communication',
       'obscene', 'music', 'movement/places', 'light/visual perceptions',
       'family/spiritual', 'like/girls', 'sadness', 'feelings', 'danceability',
       'loudness', 'acousticness', 'instrumentalness', 'valence', 'energy',
       'topic', 'age'],
      dtype='object')

In [6]:
## Create new data containing some necessary attributes
newA = A[['id', 'Song_Name', 'Artist_Name', 'Genre', 'Released']]
newB = B[['id', 'track_name', 'artist_name', 'genre', 'release_date']]

## Rename the attributes in the new data
newA.columns = ['id', 'Song_Name', 'Artist_Name', 'Genre', 'Released']
newB.columns = ['id', 'Song_Name', 'Artist_Name', 'Genre', 'Released']

## Display the new data
newA.head()
# print(newB.head())

,id,Song_Name,Artist_Name,Genre,Released
0,0,Runaway Train,Cam,"Country , Music , Contemporary Country , Honky Tonk",31-Mar-15
1,1,Track 14,Omi,"Pop/Rock , Music , Pop , Dance , R&B / Soul",NaN
2,2,Lips Are Movin,Meghan Trainor,"Pop , Music , Pop/Rock , Dance , Rock , Teen Pop",9-Jan-15
3,3,I Want a Hippopotamus for Christmas,A Great Big World,"Holiday , Music",24-Nov-14
4,4,Credit,Meghan Trainor,"Pop , Music , Rock , Pop/Rock , Dance , Teen Pop",9-Jan-15

In [7]:
newB.head()

   id             Song_Name           Artist_Name Genre  Released
0   0  mohabbat bhi jhoothi                mukesh   pop      1950
1   4             i believe         frankie laine   pop      1950
2   6                   cry           johnnie ray   pop      1950
3  10              patricia           pérez prado   pop      1950
4  12    apopse eida oneiro  giorgos papadopoulos   pop      1950

In [8]:
## Preprocess the new data

# Drop NA values from the new data
newA = newA.dropna()
newB = newB.dropna()

# Convert the attributes to lowercase
newA['Song_Name'] = newA['Song_Name'].str.lower()
newA['Artist_Name'] = newA['Artist_Name'].str.lower()
newA['Genre'] = newA['Genre'].str.lower()

newB['Song_Name'] = newB['Song_Name'].str.lower()
newB['Artist_Name'] = newB['Artist_Name'].str.lower()
newB['Genre'] = newB['Genre'].str.lower()

# Set key attribute for the new data
em.set_key(newA, 'id')
em.set_key(newB, 'id')

True

In [9]:
## Evaluate length of the new data
print("Length of A:", len(newA))
print("Length of B:", len(newB))
print("Length of A X B:", len(newA)*len(newB))

Length of A: 6603
Length of B: 28372
Length of A X B: 187340316

In [10]:
## Downsample the new data
sample_A, sample_B = em.down_sample(newA, newB, size=10000, y_param=1, show_progress=False)

## Evaluate length of the downsampled data
print("Length of Sample A:", len(sample_A))
print("Length of Sample B:", len(sample_B))

Length of Sample A: 1591
Length of Sample B: 10000

In [11]:
sample_A.head()

,id,Song_Name,Artist_Name,Genre,Released
0,0,runaway train,cam,"country , music , contemporary country , honky tonk",31-Mar-15
2,2,lips are movin,meghan trainor,"pop , music , pop/rock , dance , rock , teen pop",9-Jan-15
3,3,i want a hippopotamus for christmas,a great big world,"holiday , music",24-Nov-14
4326,4326,tackle box,luke bryan,"country , music , contemporary country , pop",14-Aug-07
10,10,wrapped up ( live ),olly murs,"pop , music",21-Apr-15

In [12]:
sample_B.head()

,id,Song_Name,Artist_Name,Genre,Released
6027,17350,make it stop (september's children),rise against,pop,2011
22805,68381,hey hey hey,michael franti & spearhead,reggae,2010
10782,31934,love you back,rhett akins,country,1996
23232,69743,blinded,the movement,reggae,2016
11263,33793,sing me home,tim mcgraw,country,2002

In [13]:
## Sort the data by the key attribute
sample_A = sample_A.sort_values('id')
sample_B = sample_B.sort_values('id')

## Convert sampleA's 'Released' attribute to year
sample_A['Released'] = pd.to_datetime(sample_A['Released']).dt.year.astype(int64)

C:\Users\minx\AppData\Local\Temp\ipykernel_4976\3501017079.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sample_A['Released'] = pd.to_datetime(sample_A['Released']).dt.year.astype(int64)

In [14]:
# Check type
print("Sample A:")
print(sample_A.dtypes)
print("======================\nSample B:")
print(sample_B.dtypes)

Sample A:
id              int64
Song_Name      object
Artist_Name    object
Genre          object
Released        int64
dtype: object
======================
Sample B:
id              int64
Song_Name      object
Artist_Name    object
Genre          object
Released        int64
dtype: object

In [15]:
sample_A.head()

,id,Song_Name,Artist_Name,Genre,Released
0,0,runaway train,cam,"country , music , contemporary country , honky tonk",2015
2,2,lips are movin,meghan trainor,"pop , music , pop/rock , dance , rock , teen pop",2015
3,3,i want a hippopotamus for christmas,a great big world,"holiday , music",2014
10,10,wrapped up ( live ),olly murs,"pop , music",2015
13,13,on trees and birds and fire ( chs6 edit ) [ sam feldt & bloombox remix ],i am oak,"dance , music",2015

In [16]:
sample_B.head()

,id,Song_Name,Artist_Name,Genre,Released
0,0,mohabbat bhi jhoothi,mukesh,pop,1950
1,4,i believe,frankie laine,pop,1950
5,14,round and round (with mitchell ayres and his orchestra & the ray charles singers),perry como,pop,1950
8,20,klapse me mana klapse me,stélios kazantzídis,pop,1950
12,33,necessary evil,frankie laine,pop,1951

In [17]:
## Export the downsampled data
os.makedirs('../newdata', exist_ok=True)
sample_A.to_csv('../newdata/tableA_downsampled.csv', index=False)
sample_B.to_csv('../newdata/tableB_downsampled.csv', index=False)

### 2. Blocking

In [18]:
## Import some necessary libraries

import datetime
from numpy import int64
import py_entitymatching as em
import pandas as pd
import os, sys

In [19]:
## Load sampled files
A = em.read_csv_metadata('../newdata/tableA_downsampled.csv', key='id')
B = em.read_csv_metadata('../newdata/tableB_downsampled.csv', key='id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [20]:
## Attribute equivalence blocker is chosen as the blocking method
ab = em.AttrEquivalenceBlocker()

# Candidate generation
C = ab.block_tables(A, B, 'Song_Name', 'Song_Name', l_output_attrs=['Song_Name', 'Artist_Name', 'Genre', 'Released'], r_output_attrs=['Song_Name', 'Artist_Name', 'Genre', 'Released'])

In [21]:
## Show the number of tuple pairs in the candidate set
print(len(C))

218