### 1. Preprocessing

In [19]:
## Import some necessary libraries

# !pip install py_entitymatching
# !pip install pandas
# !pip install numpy

from numpy import int64
import py_entitymatching as em
import pandas as pd
import os

In [20]:
## Read the CSV files
A = em.read_csv_metadata('../data/tableA.csv',key='id')
B = em.read_csv_metadata('../data/tableB.csv',key='id')

A.head()

Metadata file is not present in the given path; proceeding to read the csv file.

Metadata file is not present in the given path; proceeding to read the csv file.

,id,Song_Name,Artist_Name,Album_Name,Genre,Price,CopyRight,Time,Released
0,0,Runaway Train,Cam,Welcome to Cam Country - EP,"Country , Music , Contemporary Country , Honky Tonk",$0.99,2015 Sony Music Entertainment,3:01,31-Mar-15
1,1,Track 14,Omi,Me 4 U,"Pop/Rock , Music , Pop , Dance , R&B / Soul",Album Only,"2015 Ultra Records , LLC under exclusive license to Columbia Records , a Division of Sony Music ...",3:41,NaN
2,2,Lips Are Movin,Meghan Trainor,Title,"Pop , Music , Pop/Rock , Dance , Rock , Teen Pop",$1.29,"2014 , 2015 Epic Records , a division of Sony Music Entertainment",3:01,9-Jan-15
3,3,I Want a Hippopotamus for Christmas,A Great Big World,I 'll Be Home For Christmas,"Holiday , Music",$1.29,"Compilation ( P ) 2014 Epic Records , a division of Sony Music Entertainment",2:20,24-Nov-14
4,4,Credit,Meghan Trainor,Title ( Deluxe ),"Pop , Music , Rock , Pop/Rock , Dance , Teen Pop",$1.29,"2014 , 2015 Epic Records , a division of Sony Music Entertainment",2:51,9-Jan-15

In [21]:
B.head(2)

,id,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
0,0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince speak voice tear try hold hurt try forgive okay play b...,95,0.000598,0.063746,0.000598,...,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.13711,sadness,1.0
1,4,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest night candle glow believe go astray come believe bel...,51,0.035537,0.096777,0.443435,...,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.26324,world/life,1.0

In [22]:
## List the names of the attributes in the input tables
print("List of attributes in A:", A.columns)
print("List of attributes in B:", B.columns)

List of attributes in A: Index(['id', 'Song_Name', 'Artist_Name', 'Album_Name', 'Genre', 'Price',
       'CopyRight', 'Time', 'Released'],
      dtype='object')
List of attributes in B: Index(['id', 'artist_name', 'track_name', 'release_date', 'genre', 'lyrics',
       'len', 'dating', 'violence', 'world/life', 'night/time',
       'shake the audience', 'family/gospel', 'romantic', 'communication',
       'obscene', 'music', 'movement/places', 'light/visual perceptions',
       'family/spiritual', 'like/girls', 'sadness', 'feelings', 'danceability',
       'loudness', 'acousticness', 'instrumentalness', 'valence', 'energy',
       'topic', 'age'],
      dtype='object')

In [23]:
## Create new data containing some necessary attributes
newA = A[['id', 'Song_Name', 'Artist_Name', 'Genre', 'Released']]
newB = B[['id', 'track_name', 'artist_name', 'genre', 'release_date']]

## Rename the attributes in the new data
newA.columns = ['id', 'Song_Name', 'Artist_Name', 'Genre', 'Released']
newB.columns = ['id', 'Song_Name', 'Artist_Name', 'Genre', 'Released']

## Display the new data
newA.head()
# print(newB.head())

,id,Song_Name,Artist_Name,Genre,Released
0,0,Runaway Train,Cam,"Country , Music , Contemporary Country , Honky Tonk",31-Mar-15
1,1,Track 14,Omi,"Pop/Rock , Music , Pop , Dance , R&B / Soul",NaN
2,2,Lips Are Movin,Meghan Trainor,"Pop , Music , Pop/Rock , Dance , Rock , Teen Pop",9-Jan-15
3,3,I Want a Hippopotamus for Christmas,A Great Big World,"Holiday , Music",24-Nov-14
4,4,Credit,Meghan Trainor,"Pop , Music , Rock , Pop/Rock , Dance , Teen Pop",9-Jan-15

In [24]:
newB.head()

   id             Song_Name           Artist_Name Genre  Released
0   0  mohabbat bhi jhoothi                mukesh   pop      1950
1   4             i believe         frankie laine   pop      1950
2   6                   cry           johnnie ray   pop      1950
3  10              patricia           pérez prado   pop      1950
4  12    apopse eida oneiro  giorgos papadopoulos   pop      1950

In [25]:
## Preprocess the new data

# Drop NA values from the new data
newA = newA.dropna()
newB = newB.dropna()

# Convert the attributes to lowercase
newA['Song_Name'] = newA['Song_Name'].str.lower()
newA['Artist_Name'] = newA['Artist_Name'].str.lower()
newA['Genre'] = newA['Genre'].str.lower()

newB['Song_Name'] = newB['Song_Name'].str.lower()
newB['Artist_Name'] = newB['Artist_Name'].str.lower()
newB['Genre'] = newB['Genre'].str.lower()

# Set key attribute for the new data
em.set_key(newA, 'id')
em.set_key(newB, 'id')

True

In [26]:
## Evaluate length of the new data
print("Length of A:", len(newA))
print("Length of B:", len(newB))
print("Length of A X B:", len(newA)*len(newB))

Length of A: 6603
Length of B: 28372
Length of A X B: 187340316

In [29]:
## convert the new data to pandas dataframe
oriA = pd.DataFrame(newA)
oriB = pd.DataFrame(newB)

oriA = oriA.sort_values(by='id')
oriB = oriB.sort_values(by='id')

oriA['Released'] = pd.to_datetime(oriA['Released']).dt.year.astype(int64)

## export the new data to CSV
oriA.to_csv('../data/preprocessed_tableA.csv', index=False)
oriB.to_csv('../data/preprocessed_tableB.csv', index=False)

C:\Users\minx\AppData\Local\Temp\ipykernel_22504\1791017352.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  oriA['Released'] = pd.to_datetime(oriA['Released']).dt.year.astype(int64)

In [10]:
## Downsample the new data
sample_A, sample_B = em.down_sample(newA, newB, size=10000, y_param=1, show_progress=False)

## Evaluate length of the downsampled data
print("Length of Sample A:", len(sample_A))
print("Length of Sample B:", len(sample_B))

Length of Sample A: 1591
Length of Sample B: 10000

In [11]:
sample_A.head()

,id,Song_Name,Artist_Name,Genre,Released
0,0,runaway train,cam,"country , music , contemporary country , honky tonk",31-Mar-15
2,2,lips are movin,meghan trainor,"pop , music , pop/rock , dance , rock , teen pop",9-Jan-15
3,3,i want a hippopotamus for christmas,a great big world,"holiday , music",24-Nov-14
4326,4326,tackle box,luke bryan,"country , music , contemporary country , pop",14-Aug-07
10,10,wrapped up ( live ),olly murs,"pop , music",21-Apr-15

In [12]:
sample_B.head()

,id,Song_Name,Artist_Name,Genre,Released
6027,17350,make it stop (september's children),rise against,pop,2011
22805,68381,hey hey hey,michael franti & spearhead,reggae,2010
10782,31934,love you back,rhett akins,country,1996
23232,69743,blinded,the movement,reggae,2016
11263,33793,sing me home,tim mcgraw,country,2002

In [13]:
## Sort the data by the key attribute
sample_A = sample_A.sort_values('id')
sample_B = sample_B.sort_values('id')

## Convert sampleA's 'Released' attribute to year
sample_A['Released'] = pd.to_datetime(sample_A['Released']).dt.year.astype(int64)

C:\Users\minx\AppData\Local\Temp\ipykernel_4976\3501017079.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sample_A['Released'] = pd.to_datetime(sample_A['Released']).dt.year.astype(int64)

In [14]:
# Check type
print("Sample A:")
print(sample_A.dtypes)
print("======================\nSample B:")
print(sample_B.dtypes)

Sample A:
id              int64
Song_Name      object
Artist_Name    object
Genre          object
Released        int64
dtype: object
======================
Sample B:
id              int64
Song_Name      object
Artist_Name    object
Genre          object
Released        int64
dtype: object

In [15]:
sample_A.head()

,id,Song_Name,Artist_Name,Genre,Released
0,0,runaway train,cam,"country , music , contemporary country , honky tonk",2015
2,2,lips are movin,meghan trainor,"pop , music , pop/rock , dance , rock , teen pop",2015
3,3,i want a hippopotamus for christmas,a great big world,"holiday , music",2014
10,10,wrapped up ( live ),olly murs,"pop , music",2015
13,13,on trees and birds and fire ( chs6 edit ) [ sam feldt & bloombox remix ],i am oak,"dance , music",2015

In [16]:
sample_B.head()

,id,Song_Name,Artist_Name,Genre,Released
0,0,mohabbat bhi jhoothi,mukesh,pop,1950
1,4,i believe,frankie laine,pop,1950
5,14,round and round (with mitchell ayres and his orchestra & the ray charles singers),perry como,pop,1950
8,20,klapse me mana klapse me,stélios kazantzídis,pop,1950
12,33,necessary evil,frankie laine,pop,1951

In [17]:
## Export the downsampled data
os.makedirs('../newdata', exist_ok=True)
sample_A.to_csv('../newdata/tableA_downsampled.csv', index=False)
sample_B.to_csv('../newdata/tableB_downsampled.csv', index=False)

### 2. Blocking

In [1]:
## Import some necessary libraries

import datetime
from numpy import int64
import py_entitymatching as em
import pandas as pd
import os, sys

In [2]:
## Load sampled files
A = em.read_csv_metadata('../newdata/tableA_downsampled.csv', key='id')
B = em.read_csv_metadata('../newdata/tableB_downsampled.csv', key='id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [3]:
## Attribute equivalence blocker is chosen as the blocking method
ab = em.AttrEquivalenceBlocker()

# Candidate generation
C = ab.block_tables(A, B, 'Song_Name', 'Song_Name', l_output_attrs=['Song_Name', 'Artist_Name', 'Genre', 'Released'], r_output_attrs=['Song_Name', 'Artist_Name', 'Genre', 'Released'])

In [4]:
## Show the number of tuple pairs in the candidate set
print(len(C))

230

In [7]:
## Label the candidate set
S = em.sample_table(C, len(C))
G = em.label_table(S, 'label')
# đừng chạy cái này

Column name (label) is not present in dataframe
C:\Users\minx\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\py_entitymatching\gui\table_gui.py:94: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  table._set_value(idxv[i], cols[j], val)

In [18]:
# Show last data
G.tail(10)

,Unnamed: 0,_id,ltable_id,rtable_id,ltable_Song_Name,ltable_Artist_Name,ltable_Released,rtable_Song_Name,rtable_Artist_Name,rtable_Released,label
220,220,220,6702,18014,game over,steve rushton,2009,game over,falling in reverse,2013,0
221,221,221,6727,31081,tell me why,taylor swift,2008,tell me why,wynonna,1993,0
222,222,222,6727,70976,tell me why,taylor swift,2008,tell me why,the beatles,1964,0
223,223,223,6731,16966,the best day,taylor swift,2008,the best day,atmosphere,2010,0
224,224,224,6739,17991,love in the sky,the weeknd,2013,love in the sky,the weeknd,2013,1
225,225,225,6755,17835,loft music,the weeknd,2012,loft music,the weeknd,2012,1
226,226,226,6765,17732,rolling stone,the weeknd,2012,rolling stone,the weeknd,2012,1
227,227,227,6812,18435,i lived,onerepublic,2014,i lived,onerepublic,2014,1
228,228,228,6850,17327,hopes & dreams,wiz khalifa,2011,hopes & dreams,wiz khalifa,2011,1
229,229,229,6854,17422,no sleep,wiz khalifa,2011,no sleep,wiz khalifa,2011,1

In [11]:
S.to_csv('../sample/candidate.csv', index=False)
G.to_csv('../sample/labeled.csv', index=False)

### 3. Matching

In [2]:
## Import necessary libraries
import datetime
from numpy import int64
import py_entitymatching as em
import pandas as pd
import os, sys

In [3]:
## Read the labeled data
A = em.read_csv_metadata('../newdata/tableA_downsampled.csv', key='id')
B = em.read_csv_metadata('../newdata/tableB_downsampled.csv', key='id')
C = em.read_csv_metadata('../sample/candidate.csv', key='_id')
G = em.read_csv_metadata('../sample/labeled.csv',
                         key='_id',
                         ltable=A, rtable=B,
                         fk_ltable='ltable_id', fk_rtable='rtable_id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [4]:
# Split G into development set (I) and evaluation set (J)
IJ = em.split_train_test(G, train_proportion=0.7, random_state=0)
I = IJ['train']
J = IJ['test']

#### Selecting the best learning-based matcher
1. Create a set of learning-based matcher
2. Create features
3. Convert the development set into feature vectors
4. Select the best learning-based matcher using k-fold cross validation

In [5]:
## Create a set of ML-matchers (Decision Tree, Random Forest, SVM, Logistic Regression, Linear Regression)
dt = em.DTMatcher(name='DecisionTree', random_state=0)
rf = em.RFMatcher(name='RandomForest', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')

In [6]:
## Generate features for the candidate set
feature_table = em.get_features_for_matching(A, B, validate_inferred_attr_types=False)

In [7]:
## Extract the development set to feature vectors
H = em.extract_feature_vecs(I, feature_table=feature_table, attrs_after='label', show_progress=False)

# Display first few rows
H.head()

C:\Users\minx\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

,_id,ltable_id,rtable_id,id_id_exm,id_id_anm,id_id_lev_dist,id_id_lev_sim,Artist_Name_Artist_Name_jac_qgm_3_qgm_3,Artist_Name_Artist_Name_cos_dlm_dc0_dlm_dc0,Artist_Name_Artist_Name_jac_dlm_dc0_dlm_dc0,Artist_Name_Artist_Name_mel,Artist_Name_Artist_Name_lev_dist,Artist_Name_Artist_Name_lev_sim,Artist_Name_Artist_Name_nmw,Artist_Name_Artist_Name_sw,Released_Released_exm,Released_Released_anm,Released_Released_lev_dist,Released_Released_lev_sim,label
66,66,4544,60742,0,0.074808,4,0.2,0.0,0.0,0.0,0.482323,10.0,0.166667,1.0,2.0,1,1.000000,0.0,1.00,0
26,26,1451,7996,0,0.181466,4,0.0,0.0,0.0,0.0,0.505291,7.0,0.222222,0.0,1.0,0,0.986554,4.0,0.00,0
83,83,4938,10652,0,0.463575,5,0.0,0.0,0.0,0.0,0.499038,14.0,0.125000,-1.0,2.0,0,0.990045,3.0,0.25,0
40,40,2447,21153,0,0.115681,4,0.2,0.0,0.0,0.0,0.439234,16.0,0.157895,-5.0,2.0,0,0.977080,4.0,0.00,0
13,13,899,72937,0,0.012326,4,0.2,0.0,0.0,0.0,0.615079,10.0,0.285714,-2.0,3.0,0,0.986042,4.0,0.00,0

In [58]:
## Select the best ML matcher using Cross Validation
result = em.select_matcher([dt, rf, svm, lg, ln], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        k=4,
        target_attr='label', metric_to_select_matcher='f1', random_state=0)

## Display the result
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.950000        0.968750    0.955556
1  RandomForest           0.972222        0.949519    0.958627
2           SVM           1.000000        0.918269    0.954286
3        LogReg           1.000000        1.000000    1.000000
4        LinReg           0.972222        1.000000    0.985294

We observe that the best matcher is Logistic Regression. So, we select this matcher and now we can proceed on to evaluating the best matcher on the unseen data (the evaluation set).

#### Evaluating the matching output
1. Converting the evaluation set to feature vectors
2. Training matcher using the feature vectors extracted from the development set
3. Predicting the evaluation set using the trained matcher
4. Evaluating the predicted matches

In [50]:
## Convert the evaluation set to feature vectors
L = em.extract_feature_vecs(J, feature_table=feature_table, attrs_after='label', show_progress=False)

L.head()

C:\Users\minx\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

,_id,ltable_id,rtable_id,id_id_exm,id_id_anm,id_id_lev_dist,id_id_lev_sim,Artist_Name_Artist_Name_jac_qgm_3_qgm_3,Artist_Name_Artist_Name_cos_dlm_dc0_dlm_dc0,Artist_Name_Artist_Name_jac_dlm_dc0_dlm_dc0,Artist_Name_Artist_Name_mel,Artist_Name_Artist_Name_lev_dist,Artist_Name_Artist_Name_lev_sim,Artist_Name_Artist_Name_nmw,Artist_Name_Artist_Name_sw,Released_Released_exm,Released_Released_anm,Released_Released_lev_dist,Released_Released_lev_sim,label
139,139,5534,54153,0,0.102192,3,0.4,0.000000,0.0,0.0,0.462626,13.0,0.133333,-3.0,2.0,0,0.996038,1.0,0.75,0
201,201,6265,27184,0,0.230466,5,0.0,0.000000,0.0,0.0,0.577778,13.0,0.133333,-1.0,3.0,0,0.983615,4.0,0.00,0
122,122,5237,54045,0,0.096901,4,0.2,0.034483,0.0,0.0,0.529293,11.0,0.266667,0.0,3.0,0,0.996036,1.0,0.75,0
186,186,6056,82072,0,0.073789,4,0.2,0.000000,0.0,0.0,0.000000,9.0,0.000000,-5.0,0.0,0,0.998017,1.0,0.75,0
141,141,5578,64421,0,0.086587,5,0.0,0.000000,0.0,0.0,0.518519,22.0,0.185185,-13.0,2.0,0,0.984119,4.0,0.00,0

In [71]:
## Train the selected matcher
lg.fit(table=H, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], target_attr='label')

In [72]:
## Predict the evaluation set
predictions = lg.predict(table=L, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], target_attr='predicted_labels', append=True, inplace=False)

In [73]:
## Evaluate the predictions
eval_result = em.eval_matches(predictions, 'label', 'predicted_labels')
em.print_eval_summary(eval_result)

Precision : 91.67% (11/12)
Recall : 100.0% (11/11)
F1 : 95.65%
False positives : 1 (out of 12 positive predictions)
False negatives : 0 (out of 57 negative predictions)